body{
background:url("background.png");
background-size:cover;
}

fieldset{
width:40%;
height:85vh;
border-color:white;
margin-top:1%;
margin-left:28%;
border-radius:10%;
border-width:thick;
}

legend{
font-family:'harlow solid';
color:white;
font-size:600%;
text-align:center;
opacity:0.5
}

.link_a{
height:5%;
width:70%;
margin-left:13%;
border-color:white;
border-style:solid;
background:white;
opacity:0.6;
margin-bottom:2%;
border-radius:10%
}

img{
width:20%; 
height:100%;
float:left;
}

a{
margin-left:6%;
color:black;
font-size:130%;
font-family:courier;
text-decoration:none;
margin-top:10%;
font-weight:bold;
}

a:hover{
text-decoration:underline;
}

p{
color:white;
font-family:algerian;
font-size:160%;
text-align:center;
margin-top:2%;
margin-bottom:1%;
opacity:0.7;
}

input{
height:6%;
width:80%;
margin-left:8%;
margin-top:0%;
margin-bottom:2%;
opacity:0.5;
}

input:hover{
border-radius:15%;
}

.submit{
height:10%;
width:30%;
background:white;
color:black;
opacity:0.6;
font-family:magneto;
font-size:150%;
border-radius:%;
margin-left:35%;
margin-top:3%;
}

.submit:hover{
text-decoration:underline;
}

.signup{
color:green;
font-size:220%;
opacity:0.8;
font-family:ar destine;
margin-left:40%;
opacity:0.8;
}